<h3 class="first">Lazy Loading</h3>
<p-virtualScroller [value]="lazyCars" scrollHeight="500px" [itemSize]="150" [rows]="100" [cache]="false" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalLazyCarsLength" [first]="pageIndex">
    <p-header>
        List of Cars
    </p-header>
    <ng-template let-car pTemplate="item" let-i="index">
        <div class="ui-g car-item">
            <div class="ui-g-12 ui-md-2">
                <div style="font-size: 24px; text-align: center; padding-top: 48px">{{i}}</div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <img src="assets/carlogo/{{car?.brand}}.png"> {{car.brand}}
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Vin: </div>
                    <div class="ui-g-10 ui-sm-6">{{car?.vin}}</div>

                    <div class="ui-g-2 ui-sm-6">Year: </div>
                    <div class="ui-g-10 ui-sm-6">{{car?.year}}</div>

                    <div class="ui-g-2 ui-sm-6">Brand: </div>
                    <div class="ui-g-10 ui-sm-6">{{car?.brand}}</div>

                    <div class="ui-g-2 ui-sm-6">Color: </div>
                    <div class="ui-g-10 ui-sm-6">{{car?.color}}</div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-car pTemplate="loadingItem">
        <div class="ui-g car-item empty-car-item">
            <div class="ui-g-12 ui-md-2">
                <div class="empty-car-item-index"></div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <div class="empty-car-item-image"></div>
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                    <div class="ui-g-12">
                        <div class="empty-car-item-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-virtualScroller>

<p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10]" (onPageChange)="pageUpdate($event)"></p-paginator>